* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas:
    "menu header header"
    "menu main main"
    "menu player player";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 100vh auto;

  background-color: #212121;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
}

.nav-bar {
  grid-area: menu;
  background-color: #000;
}

main {
  grid-area: main;
  background-color: #212121;
  margin: 3rem;
}

.music-player {
  grid-area: player;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: #212121;
  border-top: 1px solid #181818;
}

.logo,
.menu li,
.rootlist-container li {
  margin: 20px;
  list-style-type: none;
}

li a {
  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  font-weight: 800;
  color: #fff;
}

.menu,
.rootlist-container {
  padding-top: 7.5px;
}

.rootlist-container {
  border-bottom: 1px solid #181818;
}

.rootlist-container li img {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 7.5px 5px;
  border-radius: 5px;
}

.rootlist-container li:nth-child(1) img {
  background-color: #ffffff;
}

.rootlist-container li:nth-child(2) img {
  background-image: linear-gradient(135deg, #450af5, #c4efd9);
}

.rootlist-container li:nth-child(3) img {
  background-color: #181818;
}

.rootlist-container li,
.menu li {
  opacity: 0.7;
}

.rootlist-container li:has(:hover),
.menu li:has(:hover) {
  opacity: 1;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.forward-back-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.forward-back-buttons button {
  background-color: #000000b3;

  width: 35px;
  height: 35px;

  border: none;
  border-radius: 50%;
}

.upgrade-and-account {
  display: flex;
  gap: 1rem;
}

.upgrade,
.account {
  font-weight: 700;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
}

.upgrade {
  background: none;
  border: 1px solid #ffffffb3;
  border-radius: 20px;
}

button.account {
  display: flex;
  align-items: center;
  gap: 10px;

  background-color: #000000b3;
}

.account img:nth-child(1) {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.account img:nth-child(2) {
  width: 16px;
  height: 16px;
}
